#contenedor_inicio_sesion 
{  
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
#contenedor_formulario_login
{
    display: flex;
    width: 60%;
    height: 60%;
    justify-content: space-around;
    border: solid 1px var(--colorAzul);
    border-radius: 30px;
    align-items: center;
    flex-direction: column;
}
#contenedor_formulario_registrar
{
    display: none;
    width: 60%;
    height: 60%;
    justify-content: space-around;
    border: solid 1px var(--colorAzul);
    border-radius: 30px;
    align-items: center;
    flex-direction: column;
}
#opciones_inicio_sesion
{
    display: flex;
    width: 60%;
    height: auto;
    justify-content: space-around;
    align-items: center;
}
.opciones_login
{
    cursor: pointer;
    display: flex;
    width: 40%;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.opciones_login:hover{
    border: solid 2px var(--colorAzul);
    border-radius: 10px;
    transition: all .04s ease-in-out;
}
.formulario_registro_inicio_sesion
{
    display: flex;
    width: 60%;
    height: auto;
    justify-content: flex-start;
    align-items: center;
}
.input_text_login{
    width: 90%;
    height: 30px;
    border: solid 1px var(--colorGris);
    padding-left: 10px;
    font-size: var(--tamanoTexto);
    font-family: var(--tipogrfiaTexto);
    text-align: center;
}
.input_text_login:focus{
    outline: none;
    border-radius: 10px;
    border: solid 2px var(--colorAzul);
    transition: all .3s ease-in-out;

}
#logo_inicio_sesion{
    width: 250px;
    object-fit: contain;
}
.boton_login
{
    width: 50%;
    padding: 10px;
    padding-left: 30px;   
    padding-right: 30px;   
    background: var(--colorAzul);
    color: var(--colorBlanco);
}.boton_login:hover
{
    border: solid 2px var(--colorAzul);
    border-radius: 25px;
    background: var(--colorBlanco);
    color: var(--colorNegro);
    transition: all .06s ease-in-out;
}